#https://www.kaggle.com/datasets/crowdflower/twitter-airline-sentiment

# S1. Data Preprocessing

In [2]:
import pandas as pd
df = pd.read_csv('Tweets.csv')

In [3]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

# S2. Clean Dataset

In [4]:
mydata = df[['text','airline_sentiment']]

In [7]:
mydata.shape

(14640, 2)

In [8]:
mydata.head()

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [9]:
mydata.columns

Index(['text', 'airline_sentiment'], dtype='object')

In [10]:
df.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

In [11]:
mydata = mydata[mydata['airline_sentiment'] != 'neutral']

In [12]:
mydata

                                                    text airline_sentiment
1      @VirginAmerica plus you've added commercials t...          positive
3      @VirginAmerica it's really aggressive to blast...          negative
4      @VirginAmerica and it's a really big bad thing...          negative
5      @VirginAmerica seriously would pay $30 a fligh...          negative
6      @VirginAmerica yes, nearly every time I fly VX...          positive
...                                                  ...               ...
14633  @AmericanAir my flight was Cancelled Flightled...          negative
14634         @AmericanAir right on cue with the delays👌          negative
14635  @AmericanAir thank you we got on a different f...          positive
14636  @AmericanAir leaving over 20 minutes Late Flig...          negative
14638  @AmericanAir you have my money, you change my ...          negative

[11541 rows x 2 columns]

In [17]:
mydata['airline_sentiment'].value_counts()

negative    9178
positive    2363
Name: airline_sentiment, dtype: int64

In [18]:
mydata['airline_sentiment'].values

array(['positive', 'negative', 'negative', ..., 'positive', 'negative',
       'negative'], dtype=object)

In [19]:
df['airline_sentiment'].value_counts()

negative    9178
neutral     3099
positive    2363
Name: airline_sentiment, dtype: int64

# Removed the neutral reviews and made the classifier as a binary classifier

In [22]:
mydata.head(11)

                                                 text airline_sentiment
1   @VirginAmerica plus you've added commercials t...          positive
3   @VirginAmerica it's really aggressive to blast...          negative
4   @VirginAmerica and it's a really big bad thing...          negative
5   @VirginAmerica seriously would pay $30 a fligh...          negative
6   @VirginAmerica yes, nearly every time I fly VX...          positive
8     @virginamerica Well, I didn't…but NOW I DO! :-D          positive
9   @VirginAmerica it was amazing, and arrived an ...          positive
11  @VirginAmerica I &lt;3 pretty graphics. so muc...          positive
12  @VirginAmerica This is such a great deal! Alre...          positive
13  @VirginAmerica @virginmedia I'm flying your #f...          positive
14                             @VirginAmerica Thanks!          positive

# S3. Convert Labels to Vectors

In [24]:
#from tensorflow.keras.utils import to_categorical

In [33]:
#Labels = mydata['airline_sentiment'].to_categorical()

In [32]:
#import tensorflow as tf
#tf.keras.preprocessing.text.one_hot(mydata['airline_sentiment'], 10, lower= True)

In [35]:
Labels = mydata.airline_sentiment.factorize()

In [36]:
Labels

(array([0, 1, 1, ..., 0, 1, 1], dtype=int64),
 Index(['positive', 'negative'], dtype='object'))

# S4: Extract text and convert to trainable data

In [38]:
text_train = mydata.text.values

In [39]:
text_train

array(["@VirginAmerica plus you've added commercials to the experience... tacky.",
       '@VirginAmerica it\'s really aggressive to blast obnoxious "entertainment" in your guests\' faces &amp; they have little recourse',
       "@VirginAmerica and it's a really big bad thing about it", ...,
       '@AmericanAir thank you we got on a different flight to Chicago.',
       "@AmericanAir leaving over 20 minutes Late Flight. No warnings or communication until we were 15 minutes Late Flight. That's called shitty customer svc",
       "@AmericanAir you have my money, you change my flight, and don't answer your phones! Any other suggestions so I can make my commitment??"],
      dtype=object)

In [42]:
from tensorflow.keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(5000)
text_train_tok = tokenizer.fit_on_texts(text_train)

In [44]:
print(text_train_tok)

None